In [51]:
import pandas as pd
import numpy as np
import yake

In [52]:
us = pd.read_csv("./data/cleaned/us.csv")
dc = pd.read_csv("./data/cleaned/dc.csv")

In [53]:
dict = {
    "min": [],
    "max": []
}

for k in us.salary:
    if k in [np.NaN]:
        dict['min'].append(np.NaN)
        dict['max'].append(np.NaN)

    elif "an hour" in k:
        t = k.replace(" an hour", '')
        t = t.replace(",", "")
        tt = np.char.split(t, "–").tolist()
        if len(tt) <2 :
            dict['min'].append(float(tt[0]) * 2080)
            dict['max'].append(np.NaN) 
        else:
            dict['min'].append(float(tt[0]) * 2080)
            dict['max'].append(float(tt[1]) * 2080)
    
    elif "a month" in k:
        t = k.replace(" a month", '')
        t = t.replace(",", "")
        tt = np.char.split(t, "–").tolist()
        if len(tt) <2 :
            dict['min'].append(float(tt[0]) * 12)
            dict['max'].append(np.NaN)
        else:
            dict['min'].append(float(tt[0]) * 12)
            dict['max'].append(float(tt[1]) * 12)            

    elif "a year" in k:
        t = k.replace(" a year", '')
        t = t.replace(",", "")
        tt = np.char.split(t, "–").tolist()
        if len(tt) <2 :
            if "K" in tt[0]:
                tt[0] = tt[0].replace("K", '')
                dict['min'].append(float(tt[0]) * 1000)
                dict['max'].append(np.NaN)
            else:
                dict['min'].append(float(tt[0]))
                dict['max'].append(np.NaN)
        else:
            if "K" in tt[0]:
                tt[0] = tt[0].replace("K", '')
                dict['min'].append(float(tt[0]) * 1000)
            if "K" in tt[1]:
                tt[1] = tt[1].replace("K", '')        
                dict['max'].append(float(tt[1]) * 1000)
            else:
                dict['min'].append(float(tt[0]))
                dict['max'].append(float(tt[1]))

In [54]:
us['min_salary'] = dict['min']
us['max_salary'] = dict['max']

In [55]:
dict = {
    "min": [],
    "max": []
}

for k in dc.salary:
    if k in [np.NaN]:
        dict['min'].append(np.NaN)
        dict['max'].append(np.NaN)

    elif "an hour" in k:
        t = k.replace(" an hour", '')
        t = t.replace(",", "")
        tt = np.char.split(t, "–").tolist()
        if len(tt) <2 :
            dict['min'].append(float(tt[0]) * 2080)
            dict['max'].append(np.NaN) 
        else:
            dict['min'].append(float(tt[0]) * 2080)
            dict['max'].append(float(tt[1]) * 2080)
    
    elif "a month" in k:
        t = k.replace(" a month", '')
        t = t.replace(",", "")
        tt = np.char.split(t, "–").tolist()
        if len(tt) <2 :
            dict['min'].append(float(tt[0]) * 12)
            dict['max'].append(np.NaN)
        else:
            dict['min'].append(float(tt[0]) * 12)
            dict['max'].append(float(tt[1]) * 12)            

    elif "a year" in k:
        t = k.replace(" a year", '')
        t = t.replace(",", "")
        tt = np.char.split(t, "–").tolist()

        print(tt)
        if len(tt) <2 :
            if "K" in tt[0]:
                tt[0] = tt[0].replace("K", '')
                dict['min'].append(float(tt[0]) * 1000)
                dict['max'].append(np.NaN)
            else:
                dict['min'].append(float(tt[0]))
                dict['max'].append(np.NaN)
        else:
            if "K" in tt[0]:
                tt[0] = tt[0].replace("K", '')
                dict['min'].append(float(tt[0]) * 1000)
            if "K" in tt[1]:
                tt[1] = tt[1].replace("K", '')        
                dict['max'].append(float(tt[1]) * 1000)
            else:
                dict['min'].append(float(tt[0]))
                dict['max'].append(float(tt[1]))

['100K', '200K']
['150K', '200K']
['136K', '146K']
['53.3K', '111K']
['110K', '159K']
['130K', '180K']
['120K', '190K']
['50K', '100K']
['100K', '140K']
['130K', '185K']
['120K', '190K']
['80K', '140K']
['150K', '200K']
['384458']
['132368']
['140K', '200K']
['140K', '160K']
['120K', '190K']
['80K', '120K']
['100K', '150K']
['100K', '500K']
['95K', '115K']
['93.8K', '174K']
['120K', '190K']
['196K', '335K']
['60K', '70K']

In [56]:
dc['min_salary'] = dict['min']
dc['max_salary'] = dict['max']

In [57]:
for i,state in enumerate(us.state):
    if state in [np.NaN]:
        pass
    else:
        us.state[i]= state.strip()
        us.state[i]= state[1:3]

/var/folders/w3/zbqnzn0j2qn92w1njyh0tl940000gn/T/ipykernel_31930/2097206256.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  us.state[i]= state.strip()
/var/folders/w3/zbqnzn0j2qn92w1njyh0tl940000gn/T/ipykernel_31930/2097206256.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  us.state[i]= state[1:3]

In [58]:
for i,state in enumerate(dc.state):
    if state in [np.NaN]:
        pass
    else:
        dc.state[i]= state.strip()
        dc.state[i]= state[1:3]

/var/folders/w3/zbqnzn0j2qn92w1njyh0tl940000gn/T/ipykernel_31930/3071435443.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dc.state[i]= state.strip()
/var/folders/w3/zbqnzn0j2qn92w1njyh0tl940000gn/T/ipykernel_31930/3071435443.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dc.state[i]= state[1:3]

In [59]:
us.to_csv("./data/cleaned/us.csv")
dc.to_csv("./data/cleaned/dc.csv")

In [60]:
np.max(us.min_salary)

280000.0

In [61]:
us.index[us['min_salary'] == 49916000.0].tolist()

[]

In [64]:
dc[dc['domain'] == 'data scientist']

,Unnamed: 0,location,domain,title,position,company_name,city,state,description,qualification,responsibility,benefits,time,salary,min_salary,max_salary
130,130,dc,data scientist,Data Scientist - On-Site,Data scientist,"BU_IS, Raytheon Technologies",Herndon,VA,Date Posted:\n2022-11-10-08:00\n...\nCountry:\...,Bachelor’s degree with 5 years of experience w...,The Data Scientists will be responsible for id...,NaN,Full-time,NaN,NaN,NaN
131,131,dc,data scientist,Junior Data Scientist,Data science,Gryphon Scientific,Takoma Park,MD,This position offers options for in-person (in...,Undergraduate degree in a relevant discipline ...,"As a junior data scientist at Gryphon, you wil...","Fully paid health insurance for staff, and dis...",Full-time,NaN,NaN,NaN
132,132,dc,data scientist,"Data Scientist, Consultant",Director,Guidehouse,Wheaton-Glenmont,MD,Job Family:\nData Science Consulting\n...\nTra...,U.S. citizenship and ability to obtain a Publi...,Support National Security clients as a Data Sc...,"Guidehouse offers a comprehensive, total rewar...",Full-time,NaN,NaN,NaN
133,133,dc,data scientist,Data Scientist Jobs,Engineer,ManTech International,Herndon,VA,"Secure our Nation, Ignite your Future\n\nEach ...",HS Diploma/GED and 20+ years AS/AA and 18+ yea...,Each day U.S. Customs and Border Protection (C...,The projected compensation range for this posi...,Full-time,NaN,NaN,NaN
134,134,dc,data scientist,Junior Data Scientist,Manager,ENS Solutions,Washington,DC,The contractor shall work closely with teammat...,"Experience with data exploration, data cleanin...",The contractor shall work closely with teammat...,Platinum-Level Health/Vision/Dental coverage w...,Full-time,NaN,NaN,NaN
135,135,dc,data scientist,Junior Data Scientist,Scientist,cBEYONData,Fort Belvoir,VA,cBEYONData is seeking a Junior Data Scientist ...,1-5 years of experience in Data Science field ...,cBEYONData is seeking a Junior Data Scientist ...,NaN,Full-time,NaN,NaN,NaN
136,136,dc,data scientist,Research Data Scientist,Associate director,Booz Allen Hamilton,Washington,DC,Job Number: R0163240\n\nResearch Data Scientis...,"2+ years of experience with machine learning, ...",You'll work closely with your c us tomer to un...,You may be able to take advantage of our tuiti...,Full-time,NaN,NaN,NaN
137,137,dc,data scientist,Data Scientist Team Lead (Remote),Program analyst,GovCIO,Fairfax,VA,Job Overview\n\nGovCIO is a team of transforme...,"Masters Degree in Business Administration, Bus...",GovCIO is seeking a Data Scientist Team Lead w...,NaN,Full-time,NaN,NaN,NaN
138,138,dc,data scientist,Data Scientist,Analyst,General Dynamics Information Technology,Reston,VA,Req ID: RQ144312\n\nType of Requisition: Regul...,Clearance Level Must Be Able to Obtain: Top Se...,Our work depends on a Data Scientist joining o...,401K with company match Comprehensive health a...,Full-time,NaN,NaN,NaN
139,139,dc,data scientist,"Data Scientist, Lead",Biologist,Blend360,Columbia,MD,"Company Description\n\nBlend360 is a Dynamic, ...","Master's degree in Statistics, Math, Operation...","We evaluate different sources of data, discove...","The starting pay range for this role is $100,0...",Full-time,NaN,NaN,NaN
140,140,dc,data scientist,Research Data Scientist,Data scientist,Booz Allen Hamilton,Washington,DC,Job Number: R0163240\n\nResearch Data Scientis...,"2+ years of experience with machine learning, ...",You'll work closely with your c us tomer to un...,You may be able to take advantage of our tuiti...,Full-time,NaN,NaN,NaN
141,141,dc,data scientist,Cleared Data Scientist,Data science,ICF,Arlington,VA,We are looking for an experienced Data Scienti...,The ideal candidate should be someone who is s...,Ability to perform knowledge elicitation from ...,Pay Range - There are multiple factors that ar...,Full-time,NaN,NaN,NaN
142,142,dc,data scientist,Jr. Data Scientist,Manager,SRI International,Arlington,VA,Jr. Data Scientist\n\nJob Locations...\n\nUS-V...,1-2 years using R and/or Python for data scien...,"The Junior Data Scientist, as part of SRI Inte...","The salary range is: $99,138-$127,377 Salary r...",Full-time,NaN,NaN,NaN
143,143,dc,data scientist,Senior Program Analyst (Data Scientist) Jobs,Director,Cogent Security Consulting,Alexandria,VA,Senior Program Analyst (Data Scientist)\n\nPos...,Bachelor's degree Adept utilizing Microsoft Ex...,The Senior Program Analyst (Data Scientist) wi...,Salary Range: $140k to $160k,Full-time,NaN,NaN,NaN
144,144,dc,data scientist,Data Scientist for Aviation Analytics at SAIC ...,Engineer,SAIC,Washington,DC,Description SAIC's Civil Transportation Group ...,Developing and designing software in range of ...,This position will support the SAIC's Transpor...,$200K -- $500K+,Full-time,20–28 an hour,41600.0,58240.0
145,145,dc,data scientist,"Data Scientist, Mid with Security Clearance",Scientist,ClearanceJobs,Vienna,VA,"Job Number: R0168392 Data Scientist, Mid\n\nTh...",2+ years of experience with sof tware developm...,"As a sof tware developer, you'll grow your ski...",experts in virtually every field a culture tha...,Full-time,NaN,NaN,NaN
146,146,dc,data scientist,Sr. Data Scientist,Associate director,INDEX ANALYTICS LLC,Baltimore,MD,Job Details\n\nLevel: Experienced...\n\nJob Lo...,The selected candidate should have experience ...,Advance a culture of AI/ML culture within the ...,NaN,Full-time,NaN,NaN,NaN
147,147,dc,data scientist,Senior Data Scientist,Program analyst,Trident Systems Inc,Fairfax,VA,"Senior Data Scientist (Fairfax, VA)\n\nDo you ...","Bachelor's degree in Physics, Computer Science...",The Senior Data Scientist will work alongside ...,"Trident offers both remote and hybrid, flexibl...",Full-time,NaN,NaN,NaN
148,148,dc,data scientist,Senior Data Scientist Jobs,Biologist,ManTech International,Sterling,VA,"Secure our Nation, Ignite your Future\n\nEach ...",HS Diploma/GED and 15+ years AS/AA and 13-18 y...,Each day U.S. Customs and Border Protection (C...,The projected compensation range for this posi...,Full-time,NaN,NaN,NaN
149,149,dc,data scientist,"Data Scientist, Mid - Now Hiring",Business,Booz Allen Hamilton,Fort Meade,MD,"Job Number: R0162810\n\nData Scientist, Mid......","3+ years of experience with data science, data...","As a data scientist, you'll have the chance to...",With professional and leadership development o...,Full-time,NaN,NaN,NaN
206,206,dc,data scientist,Data Scientist,Data scientist,SOS International LLC,Washington,DC,Overview\n\nSOSi is currently seeking an exper...,"Active in scope TS/SCI clearance, must be will...","Develop research designs, including formulatin...",NaN,Full-time,NaN,NaN,NaN
207,207,dc,data scientist,Data Scientist,Data science,Deloitte,Washington,DC,Are you looking to make an impact by helping a...,The position requires a minimum four years of ...,Develop advanced analytics in support of an In...,NaN,Full-time,NaN,NaN,NaN
208,208,dc,data scientist,"Data Scientist, Senior",Manager,Booz Allen Hamilton,McLean,VA,"Data Scientist, Senior\n\nThe Opportunity...\n...",2+ years of experience with using Python for d...,"On our team, you’ll use your leadership skills...",With professional and leadership development o...,Full-time,NaN,NaN,NaN
209,209,dc,data scientist,Senior Data Scientist,Director,Chenega Corporation,Washington,DC,"Summary\n\nData Scientist, Senior...\n\nWashin...","Master of Science, and 10+ years of experience...","The Data Scientist, Senior will build analytic...",NaN,Full-time,NaN,NaN,NaN
210,210,dc,data scientist,DATA SCIENTIST,Engineer,USAJOBS,Washington,DC,Duties\n\nDIA employs a variety of professiona...,- U.S. Citizenship - Drug Test - Security Inve...,DIA employs a variety of professionals who ser...,NaN,Full-time,NaN,NaN,NaN
211,211,dc,data scientist,Data Scientist Lead Jobs,Scientist,Booz Allen Hamilton,Alexandria,VA,Job Number: R0150689\n\nData Scientist Lead......,Experience analyzing data and creating data-dr...,You'll work closely with your customer to unde...,experts in virtually every field a culture tha...,Full-time,NaN,NaN,NaN
212,212,dc,data scientist,Lead Data Scientist (Washington DC),Associate director,Cross Screen Media,Alexandria,VA,Are you looking to join a highly ambitious med...,MS with 3-5 years of experience Degree in engi...,The successful candidate will employ skills an...,This role offers a 100% remote work option Com...,Full-time,NaN,NaN,NaN
213,213,dc,data scientist,Sr. Data Scientist at Mathematica Policy Resea...,Program analyst,Mathematica Policy Research,Washington,DC,Position Description:\nMathematica applies exp...,Position Description:\nMathematica applies exp...,NaN,NaN,Full-time,20–28 an hour,41600.0,58240.0
214,214,dc,data scientist,Data Scientist,Biologist,Johns Hopkins Applied Physics Laboratory,Laurel,MD,Description\n\nWould you like to be part of an...,We are looking for someone who combines enthus...,You will design and implement solutions and co...,NaN,Full-time,NaN,NaN,NaN
215,215,dc,data scientist,Data Scientist,Business,Diverse Lynx,Arlington,VA,Job Title: Data Scientist\n\nLocation:Arlingto...,3-4 years Machine learning experience Experien...,NaN,NaN,Full-time,NaN,NaN,NaN
236,236,dc,data scientist,Data Scientist Jobs,Data scientist,Azimuth Corporation,Springfield,VA,"Data Scientist | Springfield, VA\n\nAzimuth Co...",13 years of experience and a MA/MS degree OR a...,The ideal candidate will provide technical sup...,NaN,Full-time,NaN,NaN,NaN
237,237,dc,data scientist,Data Scientist,Data science,Diverse Lynx,Arlington,VA,Job Title: Data Scientist\n\nLocation:Arlingto...,3-4 years Machine learning experience Experien...,NaN,NaN,Full-time,NaN,NaN,NaN
238,238,dc,data scientist,Data Scientist- Remote,Director,General Dynamics Information Technology,Fairfax,VA,Req ID: RQ145701\n\nType of Requisition: Regul...,Clearance Level Must Be Able to Obtain: Secret...,Deliver insights to help our clients turn data...,Full-flex work week to own your priorities at ...,Full-time,NaN,NaN,NaN
239,239,dc,data scientist,Cleared Data Scientist,Engineer,BitRelish Corporation,McLean,VA,Cleared Data Scientist\n\nTS/SCI with Full Pol...,TS/SCI with Full Polygraph (current or active ...,BitRelish offers an extremely competitive bene...,NaN,Full-time,"384,458 a year",384458.0,NaN
240,240,dc,data scientist,Supervisory Biologist (Computational...,Manager,Agricultural Research Service,Beltsville,MD,This position is located with the United State...,"In this position, as the Research Leader, you ...",NaN,NaN,Full-time,"132,368 a year",132368.0,NaN
241,241,dc,data scientist,Research Data Scientist,Scientist,Booz Allen Hamilton,Washington,DC,Job Number: R0163240\n\nResearch Data Scientis...,"2+ years of experience with machine learning, ...",You'll work closely with your c us tomer to un...,You may be able to take advantage of our tuiti...,Full-time,NaN,NaN,NaN
242,242,dc,data scientist,Lead Data Scientist,Associate director,Hilton,McLean,VA,"In Commercial Strategy, Insights, and Analytic...","Self-starter, well organized, accountable, and...",The team consists of both embedded authorities...,NaN,Full-time,NaN,NaN,NaN
243,243,dc,data scientist,Data Scientist (DIAP),Program analyst,Celestar Corporation,Washington,DC,Celestar Corporation has an IMMEDIATE NEED and...,CLEARANCE REQUIREMENT: Active Top Secret Level...,Provide Timely and skilled support of Defense ...,"As an example, we offer Company Paid Benefits ...",Full-time,NaN,NaN,NaN
244,244,dc,data scientist,Data Scientist - On-Site,Biologist,"BU_IS, Raytheon Technologies",Herndon,VA,Date Posted:\n2022-11-10-08:00\n...\nCountry:\...,Bachelor’s degree with 5 years of experience w...,The Data Scientists will be responsible for id...,NaN,Full-time,NaN,NaN,NaN
245,245,dc,data scientist,Junior Data Scientist,Business,Gryphon Scientific,Takoma Park,MD,This position offers options for in-person (in...,Undergraduate degree in a relevant discipline ...,"As a junior data scientist at Gryphon, you wil...","Fully paid health insurance for staff, and dis...",Full-time,NaN,NaN,NaN